$bgcolor:#3f9edd;
html,body{
  font-family: 'Open Sans', sans-serif;
}

.hide{
  opacity:0;
}

.total_heading,.total_amount{
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}

.tabs {
  .tab a {
    font-size: 1rem;
    font-weight: 300;
    -webkit-font-smoothing: initial;
    &:hover {
      color: #ee6e73;
    }
    &.active {
      font-weight: 400;
    }
  }
  overflow: hidden;
  background-color: transparent;
  .indicator {
    background-color: #f36;
  }
}

.yeartab li a{
  color:white!important;
}
  .dashboard{
  background:#353742;
  height:200px;
  margin-bottom: 2em;
  text-align: center;
  color:white;
  .subheading{
    font-weight: 100!important;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .header{
    color:white;
    margin:0;
    padding-top:69px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .uploadnew{
    float:right;
    background:#f36!important;
    margin-top:-30px;

  }
}

.uploader{
  padding-top:2em;
}

#toast-container {
  display:block;
  position: fixed;
  z-index: 10000;

  top: 3%;
  right: 3%;
}

.btn{
  padding:0;
}

form{
	text-align: center;
  .uploadbtn{
        background-color:#1CB78C;

  }
  .uploadbtn input{
    font-weight: 300;
    width:100%;
    height:100%;
    padding:0 2rem;
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + label {
  	text-align: center;
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }
}

.no-js .inputfile + label {
  display: none;
}

.inputfile {
  &:focus + label, &.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.inputfile {
  + label {
    color: $bgcolor;
      transition: all 0.3s ease-in-out;

  }
  &:focus + label, &.has-focus + label {
    color: darken($bgcolor,10%);
  }
  + label {
    &:hover {
      color: darken($bgcolor,10%);
    }
    figure {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $bgcolor;
      display: block;
      padding: 20px;
      margin: 0 auto 10px;
    }
  }
  &:focus + label figure, &.has-focus + label figure {
    background-color: darken($bgcolor,10%);
  }
  + label {
    &:hover figure {
      background-color: darken($bgcolor,10%);
    }
    i {
      color: white;
      font-size: 3em;
      display: inline-block;
      padding-left: 1px;
    }
  }
}


.centered-axis-xy {
    position: absolute!important;
    left: 50%!important;
    ;
    top: 50%!important;
    ;
    -webkit-transform: translate(-50%, -50%)!important;
    ;
    -moz-transform: translate(-50%, -50%)!important;
    ;
    -ms-transform: translate(-50%, -50%)!important;
    ;
    -o-transform: translate(-50%, -50%)!important;
    ;
    transform: translate(-50%, -50%)!important;
    ;
}

th{
  text-transform: uppercase;
}
td, th{
  font-size: 0.9rem;
  padding:15px 10px!important;
  text-align: center!important;
}

.modal{
  .modal-close{
    position:absolute;
    right:20px;
  }
  h5{
    text-align: center;
  }
}

table.bordered > tbody > tr {
    border-bottom: 1px solid #EFEFEF!important;
}